<div class="center jumbotron">
  <div class="text-center">
    <h1>REP.CAM</h1><br>
    <p>repesent your campstyle</p>
  </div>
</div>

<div class="text-center">
      <%= render 'posts/posts', posts: @posts %>
</div>