
<% if logged_in? %>
 <div class="center jumbotron">
    <div class="text-center">
      <h1>REP.CAM</h1>
    </div>
  </div>
  <div class="text-center">
   <%= link_to '新規投稿する', new_post_path, class: 'btn btn-lg btn-primary' %>
   <br>
   <br>
   <br>
   <h3>投稿一覧</h3>
   <br>
    <%= render 'posts/posts', posts: @posts %>
   </div>  
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>REP.CAM</h1>
    </div>
  </div>
  <div class="text-center">
    <h2>ユーザー登録をして、自慢のキャンプスタイルを投稿しよう！</h2><br>
    <h2>↓　↓　↓　↓</h2>
      <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>  
<% end %>